/* ==========================================================================
   Home Component
   ========================================================================== */

.nkTotem-Home {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: z-index('home');
}

.nkTotem-Home-Video {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    width: 100%;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: yellow;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &.is-Changed {
    img {
      animation: scaleUp 12s ease-out;
    }

    &:after {
      animation: fadeYellow 50ms;
    }
  }
}

.nkTotem-Home-Swoosh {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 4;
  left: 0;

  img {
    width: auto;
  }
}

.nkTotem-Home-Info {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 3;
  left: 0;
}

.nkTotem-Home-Letterings{
  width: 150%;
  position: relative;
  right: 25%;
}

.nkTotem-Home-Info-Desc {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.nkTotem-Home-Button {
  transform: scale(0);
  display: inline-block;

  &:active {
    background: ligthen(color('pink'), 10%);
  }
}

@-webkit-keyframes fadeYellow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}


@-webkit-keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
