/* ==========================================================================
   Menu Component
   ========================================================================== */

.nkTotem-Menu {
  position: fixed;
  top: 5%;
  width: 100%;
  z-index: z-index('menu');
  overflow: hidden;
}

.nkTotem-Menu-Container {
  @extend .u-is-not-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nkTotem-Menu-Container-Item {
  @extend .u-t-tradegothic-medium;
  @extend .u-t-uppercase;
  margin: 0 20px;
  padding-bottom: 10px;
  position: relative;
  transition: all 200ms ease;
  transform: translate3d(0,0,0);

  &:after {
    content: '';
    height: 2px;
    background: color('pink');
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: all 250ms ease-in-out;
    transform: translate3d(0,0,0);
  }

  &.is-Active {
    color: color('pink');

    &:after {
      width: 100%;
    }
  }
}

.nkTotem-Menu-Locales {
  @extend .u-is-not-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;

  position: absolute;
  // top: 0;
  top: -24.5%;
  right: 5%;

  li {
    padding-left: 10px;
  }
}
