/* ==========================================================================
   Pre Home Component
   ========================================================================== */

.nkTotem-Pre-Home {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: z-index('pre-home');
}

.nkTotem-Pre-Home-Video {
  width: 100%;
  height: 100%;

  video {
    width: 100%;
  }
}

.nkTotem-Pre-Home-Swoosh {
  @extend .nkTotem-Home-Swoosh;
}

.nkTotem-Pre-Home-Info {
  @extend .nkTotem-Home-Info;
}

.nkTotem-Pre-Home-Letterings {
  @extend .nkTotem-Home-Letterings;
}

.nkTotem-Pre-Home-Languages {
  position: fixed;
  top: 60%;
  width: 100%;
  text-align: center;
  z-index: 999;
  left: 0;

  ul {
    @extend .u-is-not-list;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      padding: 0 vw(20px);
      margin: 0 vw(10px);
      background: color('white');
      width: vw(64px);
      height: vw(64px);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    img {
      width: vw(32px);
      display: block;
    }
  }
}
