/* ==========================================================================
   Tooltip Component
   ========================================================================== */

.nkTotem-Tooltip {
  position: fixed;
  z-index: z-index('tooltip');
  top: 15%;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nkTotem-Tooltip-Circle {
  background: color('white');
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  width: vw(150px);
  height: vw(150px);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: vw(60) vw(20);
}

.nkTotem-Tooltip-Text {
  opacity: 0;
}
