@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function mq($mq-value) {
  @return map-get($mq, $mq-value);
}

@function font($font-name) {
  @return map-get($fonts, $font-name);
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function z-index($index-name) {
  @return map-get($z-index, $index-name);
}

@function vw($min-value-size: 0, $max-value-size: $min-value-size, $min-vw: mq('mobile'), $max-vw: mq('wide')) {
  @return calc(#{$min-value-size} + #{strip-unit($max-value-size - $min-value-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
}

@function get-vw($target) {
  $max-breakpoint: 1080;
  // 1 vw is equal to 1% of the viewport width
  $vw-context: ($max-breakpoint * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}
