// -------------------------------------------------------------------------------
// Mixin to convert px to vw sizes
//
// How to use:
// @include vw(font-size, 16px, 24px);
//
// Obs: If needs rewrite some property, use:
// @include vw((padding-top, padding-bottom), 40px, $min-vw: mq('laptop'));
// -------------------------------------------------------------------------------

@mixin vw($properties, $min-value-size: 0, $max-value-size: $min-value-size, $min-vw: mq('mobile'), $max-vw: mq('wide')) {
  $calcVw: vw($min-value-size, $max-value-size, $min-vw, $max-vw);

  @each $property in $properties {
    #{$property}: $calcVw;

    @include max-screen($min-vw) {
      #{$property}: $min-value-size;
    }

    @include min-screen($max-vw) {
      #{$property}: $max-value-size;
    }
  }
}

@mixin generate-spaces-clss {
  @each $space-name, $space-value in $spaces {
    @include utility(m-#{$space-name}) {
      margin: $space-value;
    }

    @include utility(mt-#{$space-name}) {
      margin-top: $space-value;
    }

    @include utility(mr-#{$space-name}) {
      margin-right: $space-value;
    }

    @include utility(mb-#{$space-name}) {
      margin-bottom: $space-value;
    }

    @include utility(ml-#{$space-name}) {
      margin-left: $space-value;
    }

    @include utility(p-#{$space-name}) {
      padding: $space-value;
    }

    @include utility(pt-#{$space-name}) {
      padding-top: $space-value;
    }

    @include utility(pr-#{$space-name}) {
      padding-right: $space-value;
    }

    @include utility(pb-#{$space-name}) {
      padding-bottom: $space-value;
    }

    @include utility(pl-#{$space-name}) {
      padding-left: $space-value;
    }
  }
}

@mixin generate-font-size-clss($name, $font-map) {
  @each $font-type, $font-properties in $font-map {

    $toLowerCaseName: to_lower_case($name);

    @include utility(t-#{$toLowerCaseName}-#{$font-type}) {
      font-family: font(#{$name});

      @each $property, $value in $font-properties {
        #{$property}: $value;
      }

      &.title {
        text-transform: uppercase;
      }
    }

  }
}

@mixin generate-color-clss {
  @each $name, $color in $colors {
    @include utility(c-#{$name}) {
      color: $color;
    }

    @include utility(bg-#{$name}) {
      background-color: $color;
    }
  }
}
