@font-face {
  font-family: "TradeGothicW01-BoldCn20 675334";
  src: local("?"), url("#{$font-path}/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"); }

@font-face {
  font-family: "FuturaW01-ExtraBoldCond 774896";
  src: local("?"), url("#{$font-path}/04733668-9f3f-4f2f-a534-14fb44683f83.woff") format("woff"); }
