html {
  font-size: 100%;
}

body {
  font-family: font('Helvetica');
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include utility(is-not-list) {
  margin: 0;
  padding: 0;
  list-style: none;
}

@include utility(t-uppercase) {
  text-transform: uppercase;
}

@include utility(d-block) {
  display: block;
}

@include utility(button) {
  @extend .u-t-tradegothic-medium;
  @extend .u-t-uppercase;
  border-radius: 40px;
  background: color('pink');
  color: color('white');
  padding: get-vw(22px) get-vw(48px);
  border: 0;

  &:active {
    background: rgba(color('pink'), .4);
  }
}

@include utility(Promoter-Button) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 10%;
  z-index: z-index('menu');
  background: transparent;
}

.expand-hit-area {
  &:after {
    content: '';
    display: block !important;
    width: 90px;
    height: 90px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

@include utility(Close-Button) {
  @extend .u-t-tradegothic-medium;
  @extend .u-t-uppercase;
  @extend .expand-hit-area;
  border-radius: 100%;
  background: color('white');
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: vw(50px);
  height: vw(50px);
  cursor: pointer;
  color: color('black');
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) translate3d(0,0,0);
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  img {
    width: vw(16px);
    height: vw(16px);
    display: block;
  }

  &:active {
    background: #e9e9e9;
  }
}

@include utility(Loading) {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: color('black');
  opacity: 0;
  z-index: 0;

  &:after {
    @extend .u-t-tradegothic-big;
    @extend .u-t-uppercase;
    content: 'loading...';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    color: color('white');
    width: 100%;
    transition: opacity 300ms ease 300ms;
    z-index: 9999 !important;
  }

  @include when(Visible) {
    z-index: z-index('loading');
    opacity: 0.5;
  }
}

@include utility(Letterings-Vertical) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 90;
  overflow: hidden;
}

%carousel-buttons {
  @extend .expand-hit-area;
  background: color('white');
  border-radius: 100%;
  border: 1px solid;
  width: vw(50px);
  height: vw(50px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  outline: 0;
  z-index: 5;

  &:before {
    content: url('../../assets/images/arrow.svg') !important;
    display: block !important;
    width: 18px !important;
    height: 18px !important;
    z-index: 99999;
  }

  &:active {
    background: #e9e9e9 ;
  }
}

.slick-disabled {
  display: none !important;
}

.slick-prev {
  @extend %carousel-buttons;
  transform: rotate(-180deg);
  left: 40px !important;
}

.slick-next {
  @extend %carousel-buttons;
  right: 40px !important;
}

// ---------------------------------------
// Generate utility classes
// ---------------------------------------

@include generate-color-clss;
@include generate-spaces-clss;
@include generate-font-size-clss('TradeGothic', $tradeGothic);
@include generate-font-size-clss('Futura', $futura);
@include generate-font-size-clss('Arial', $arial);
