/* ==========================================================================
   Gallery Details Modal Component
   ========================================================================== */

.nkTotem-Gallery-Details-Modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: z-index('gallery-details-modal');
  transform: translateY(100%);

  h2 {
    margin: 0 auto;
    margin-bottom: 40px;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
  }

  p {
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    width: 65%;
    margin: 0 auto;
  }

  .nkTotem-Gallery-Details-Modal-Figure {
    position: relative;
  }
}

.nkTotem-Gallery-Details-Modal-Title {
  max-width: 67%;
}

.nkTotem-Gallery-Details-Modal-Info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  color: color('white');
  text-align: center;
}
