/* ==========================================================================
   Gallery Component
   ========================================================================== */

.nkTotem-Gallery {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: z-index('gallery');
}

.nkTotem-Gallery-Description {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  overflow: hidden;
}

.nkTotem-Gallery-Title {
  display: block;
  transform: translateY(120px);
  opacity: 0;
  max-width: 67%;
  margin-left: auto;
  margin-right: auto;
}

.nkTotem-Gallery-Text {
  display: block;
  transform: translateY(40px);
  margin-top: vw(20px);
  opacity: 0;
}

.nkTotem-Gallery-Button {
  transform: scale(0);
  margin-bottom: vw(20px);
  margin-right: 3%;
}

.nkTotem-Gallery-Product {
  width: 100%;
  height: 100%;

  video {
    width: 100%;
  }
}
