/* ==========================================================================
   Gallery Details Component
   ========================================================================== */

.nkTotem-Gallery-Details {
  @extend .u-is-not-list;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: z-index('gallery-details');
  transform: translateY(100%);

  li {
    position: relative;

    &:before {
      transition: opacity 300ms ease-in-out;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(color('black'), .5);
      opacity: 1;
    }

    &.current {
      &:before {
        opacity: 0;
      }
    }
  }

  img {
    display: block;
  }
}
