/* ==========================================================================
   Gallery Component
   ========================================================================== */

.nkTotem-Products {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: z-index('products');
}

.nkTotem-Products-Video {
  position: relative;
}

.nkTotem-Products-Info {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: color('white');
  text-align: center;
  overflow: hidden;
  transform: translateY(-50%);
}

.nkTotem-Products-Button {
  transform: scale(0);
  display: inline-block;
  margin-bottom: vw(20px);
}

.nkTotem-Products-Info-Title {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(30px);
  display: block;
  opacity: 0;

  &.is-Active {
    opacity: 1;
    transform: translateY(0);
  }
}

.nkTotem-Products-Info-Desc {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(40px);
  display: block;
  margin-top: 10px;
  opacity: 0;

  &.is-Active {
    opacity: 1;
    transform: translateY(0);
  }
}
