.nkTotem-stores-modal{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  width: 100%;
  height: 100%;
  z-index: z-index('store-modal');
  background: rgba(black, .6);
  transform: translateY(100%);

  &-container{
    background: white;
    display: flex;
    margin: 0 80px;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    // transform: scale(0);
    opacity: 0;
  }

  &-items{
    flex: 1 1 100%;
    background-color: #0d0d0d;
    justify-content: center;
    text-align: center;
    padding: 40px;
    position: relative;

    h2 {
      color: white;
      padding: 0 80px 80px 80px;
      text-transform: uppercase;
    }

    p {
      color: #ff3497;
      text-transform: uppercase;
    }

    &:first-child{
      background-color: white;
      flex: 1 1 70%;

      &:after{
        content: '';
        height: 100%;
        width: 3px;
        display: flex;
        content: '';
        background-image: linear-gradient(to top, #e4f92f 10%, #ff0881 100%);
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &-img{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;

      img {
        width: auto !important;
        max-width: auto !important;
      }
    }
  }

  &-list{
    padding: 60px 0;

    &-item{
      &:nth-child(1){
        padding-top: 0;
      }

      padding: 30px;
      padding-bottom: 0;

      h3 {
        text-transform: uppercase;
      }

      h3, p {
        color: #cccccc;
      }
    }
  }
}
